@model IEnumerable<ContosoUniversity.Models.Department>

@{
    ViewBag.Title = "Departments";
}

<h2>Departments</h2>

<p>
    <a asp-controller="Department" asp-action="Create">Create New</a>
</p>

<table class="table">
    <tr>
        <th>
            <display-name asp-for="@Model.First().Name" />
        </th>
        <th>
            <display-name asp-for="@Model.First().Budget" />
        </th>
        <th>
            <display-name asp-for="@Model.First().StartDate" />
        </th>
        <th>
            <display-name asp-for="@Model.First().Administrator" />
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <display asp-for="@item.Name" />
            </td>
            <td>
                <display asp-for="@item.Budget" />
            </td>
            <td>
                <display asp-for="@item.StartDate" />
            </td>
            <td>
                <a asp-action="details" asp-controller="instructor" asp-route-id="@item.Administrator.ID"><display asp-for="@item.Administrator.FullName" /></a>
            </td>
            <td>
                <a asp-controller="Department" asp-action="Edit" asp-route-id=@item.DepartmentID>Edit</a> |
                <a asp-controller="Department" asp-action="Details" asp-route-id=@item.DepartmentID>Details</a> |
                <a asp-controller="Department" asp-action="Delete" asp-route-id=@item.DepartmentID>Delete</a>
            </td>
        </tr>
    }
</table>
