@model ContosoUniversity.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt><label asp-for="Department"></label></dt>
        <dd><a asp-action="details" asp-controller="department" asp-route-id="@Model.Department.DepartmentID">@Model.Department.Name</a></dd>

        <dt><label asp-for="CourseID"></label></dt>
        <dd>@Model.CourseID</dd>

        <dt><label asp-for="Title"></label></dt>
        <dd>@Model.Title</dd>

        <dt><label asp-for="Credits"></label></dt>
        <dd>@Model.Credits</dd>
    </dl>
</div>
<p>
    <a asp-controller="Course" asp-action="Edit" asp-route-id=@Model.CourseID>Edit</a> |
    <a asp-controller="Course" asp-action="Index">Back to List</a>
</p>
